body {
	color: #333;
	background-color: #f2f2f2;
	font-family: 'Lato', sans-serif;
}

.page-title {
	font-family: 'Raleway';
	font-size: 24px;
	text-align: center;
}

.header, .footer, .title {
	background-color: #fff;
	width: 100vw;
}

.inner {
	margin: 0 auto;
	text-align: center;
	width: 1100px;
}

img {
	vertical-align: bottom;
}

.link__parts {
	display: inline-block;
}

.hamburger {
	padding: 20px;
	border: 2px solid #ddd;
	border-radius: 4px;
	position: relative;
}

.hamburger__parts {
	position: absolute;
	top: 10px;
	left: 5px;
	background-color:#ddd;
	height: 2px;
	margin-top: 10px;
	width: 30px;
}

.hamburger__parts:nth-child(3) {
	margin-top: 20px;
}

.hamburger__parts:first-child {
	margin-top: 0;
}

/* Header */
.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.header-inner i {
	font-size: 40px;
}

.button {
	align-items: start;
	background-color: #74cfae;
	color: #fff;
	display: flex;
	font-size: 12px;
	justify-content: center;
	padding: 14px 12px;
	text-decoration: none;
	transition-duration: .3s;
}

.hamburger {
	display: none;
}

.header-inner a:hover {
	transition-duration: .3s;
	color: #333;
}

/* Main */
.main {
	padding-top: 70px;
}

.title {
	background-color: #f2f2f2;
	width: 100%;
}

.title-inner {
	text-align: center;
	padding: 250px 0 250px 0;
}

.title-inner h1{
	color: #74cfae;
	font-size: 90px;
	font-weight: 700;
}

.title-inner p {
	color: #c0c0c0;
	font-size: 30px;
	margin-top: 20px;
}

/* ------------------------- */
.content {
	background-color: #74cfae;
}

.content-inner {
	background-color: #74cfae;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.content__text {
	color: #fff;
	margin-left: 50px;
	text-align: center;
	width: 680px;
}

.content__text h2 {
	font-size: 24px;
}

.content__text p {
	font-size: 20px;
	line-height: 1.5;
	margin-top: 35px;
}

/* ------------------------- */
.works-inner {
	padding: 60px 0 70px 0;
}

.works__img {
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.works__img li {
	margin-left: 100px;
	opacity: 0.7;
	transition-duration: .3s;
}

.works__img li:hover {
	opacity: 1.0;
	transition-duration: .3s;
}

.works__img li:nth-child(3n+1) {
	margin-left: 0;
}

.works__img li:nth-child(n+4) {
	margin-top: 80px;
}

.works__text {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	line-height: 1.5;
	margin-top: 90px;
}

.works__text p {
	font-size: 20px;
	width: 570px;
}

.works__text a {
	align-items: center;
	background-color: #74cfae;
	color: #fff;
	display: inline-flex;
	font-size: 12px;
	justify-content: center;
	margin-left: 90px;
	padding: 14px 20px;
	text-decoration: none;
	transition-duration: .3s;
}

.works__text a:hover {
	transition-duration: .3s;
	color: #333;
}

/* ------------------------- */
.skills {
	background-color: #4e4e4e;
	color: #fff;
}

.skills-inner {
	padding: 70px 0 100px 0;
}

.skills__content {
	display: flex;
	font-size: 16px;
	justify-content: center;
	margin-top: 70px;
}

.skills__parts {
	margin-left: 180px;
}

.skills__parts:first-child {
	margin-left: 0;
}

.skills__parts figcaption {
	margin-top: 20px;
}

/* ------------------------- */
.sns-inner {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 200px 0;
}

.sns-inner i {
	box-sizing: border-box;
	color: #74cfae;
	font-size: 60px;
	padding: 50px;
	transition-duration: .3s;
	width: 185px;
}


.link__parts:hover {
	transition-duration: .3s;
	background-color: #fff;
}

/* ------------------------- */
.footer {
	background-color: #74cfae;
}

.footer-inner {
	color: #fff;
	text-align: end;
	padding: 20px 0 25px 0;
}

/* -------------メディアクエリー------------ */
@media screen and (max-width: 1199px) {
	.inner {
		width: 97%;
	}

	.content-inner {
		display: block;
		padding: 50px 0 25px 0;
		text-align: center;
	}

	.content__text {
		margin: 0 auto;
		width: 100%;
	}

	.content__text h2 {
		margin-top: 20px;
	}

	.works__img {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	.works__img li {
		margin: 0;
	}
	
	.works__img li:nth-child(n+4) {
		margin-top: 0px;
	}

	.works__img li:nth-child(3n+1) {
		margin-top: 80px;
	}
	
	.works__img li:nth-child(1) {
		margin-top: 0;
	}

	.works__text {
		margin-top: 80px;
		display: inline-block;
	}

	.works__text p {
		width: 100%;
	}

	.works__text a {
		margin-top: 40px;
		margin-left: 0;
	}

	.skills__content {
		flex-direction: column;
		flex-wrap: nowrap;
		margin-top: 40px;
	}

	.skills__parts {
		margin-left: 0;
		margin-top: 88px;
	}

	.skills__parts:first-child {
		margin-top: 0px;
	}
}

@media screen and (max-width: 767px) {
	.button {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.title-inner {
		padding: 160px 0 130px 0;
	}

	.title-inner h1 {
		font-size: 80px;
	}

	.content__text {
		width: 100%;
	}

	.sns-inner {
		flex-direction: column;
		padding: 50px 0;
	}

	.sns-inner .link {
		display: block;
		width: 100%;
	}

	.sns-inner .link__parts {
		display: block;
	}
}